<app-navbar class="logo">
    <a href="#"><img src="../assets/SQUARE-ENIX.png" width="300px"></a>

    <li><a href="#">GIOCHI PRINCIPALI</a></li>
    <li><a href="#">NEWS</a></li>
    <li><a href="#">NEGOZIO</a></li>
    <li><a href="#">ASSISTENZA</a></li>
    <li><a href="#">icona</a></li>
    <li><a href="#">icona</a></li>

</app-navbar>

<app-navbar>
    <a href="#"><img src="../../../assets/logo-AWGjnEPeX.png" alt="ciao" width="200px"></a>

    <li><a href="#">GIOCO</a></li>
    <li><a href="#">PERSONAGGIO</a></li>
    <li><a href="#">MONDO</a></li>
    <li><a href="#">MEDIA</a></li>
    <li><a href="#">DINAMICHE DI GIOCO</a></li>
    <li><a href="#">GALLERIA</a></li>
    <li><a href="#">ACQUISTA ORA</a></li>
    <li><a href="#">SOUND</a></li>

</app-navbar>